

/* Esercizio 1 */

.ex-1-square {
    transition: background 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */

.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* esericizio 3 */

.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square{
    transition: background 2s;
}

.ex-4-square:hover {
    background-color: transparent;
}

/* esercizio 5 */

.ex-5-square{
    transition: transform 2s;
}

.ex-5-square:hover {
    transform: scale(2)
}

.ex-5-square:active {
    transform: scale(0.5);

}

/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: sepia(1) grayscale(0.4);
}

/* esercizio 8 */

.ex-8-img {
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(0.3) sepia(0.8);
}

/* esercizio 9 */

.ex-9-img {
    transition: transform 2s , border-radius 2s, filter 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(0.4) sepia(0.8);
    transform: scale(1.5)
}

/* esercizio 10 */

.ex-10-icon {
    animation-name: spin-loop;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin-loop {
    100%{
        transform: rotate(-360deg);
    }
}

/* esercizio 11 */

.ex-11-icon:hover {
    animation-name: three-quarter-spin;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes  three-quarter-spin {
    80%{
        transform: rotate(310deg);
    }
    100%{
        transform: rotate(-0deg);
    }
}

/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation-name: x-slide-right;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes  x-slide-right {
    50%{
        position: absolute;
        top: -10px;
        left: calc(100% - 60px);
    }
    100%{
        position: absolute;
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: x-slide-left;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes  x-slide-left {
    50%{
        position: absolute;
        bottom: -10px;
        right: calc(100% - 60px);
    }
    100%{
        position: absolute;
        bottom: -10px;
        right: 20%;
    }
}